body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}
  
header {
    flex: 0 80px;
}
  
main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
  
footer {
    flex: 0 30px;
}
  
menu {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    list-style: none;
}

.stepper-container {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  
@media (max-width: 768px) {
    font-size: 16px;
}
}
  
.stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
}
  
.stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
}
  
.stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;
}
  
.stepper-item.active {
    font-weight: bold;
}
  
.stepper-item.completed .step-counter {
    background-color: #4bb543;
}
  
.stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 3;
}
  
.stepper-item:first-child::before {
    content: none;
}
.stepper-item:last-child::after {
    content: none;
}