* {
    text-align: center;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 375px;
  }
  
  header {
    text-align: left;
    flex: 0 30px;
    background: darkblue;
  }